<h1 class="center">List of Skillsets</h1>
<%= form_tag skillsets_path, method: "get" do %>
    <%= text_field_tag :query %>
    <%= submit_tag :search, class: "btn blue-grey lighten-1" %>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Skills</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <%= render @skillsets %>
  </table>