<body class="epic sticky">
<main class="stickier">
<h1 class="thin">Signup</h1>

<%= render partial: "sessions/form", locals: { user: @user, button_name: "Signup", session_form_path: signup_path, method: "post" } %>
<p><%= link_to "Login", login_path %></p>
</main>
</body>