<body class="epic sticky">
<main class="stickier">
<h1 class="thin">Signup</h1>

<%= render partial: "sessions/form", locals: { user: @user, button_name: "Signup", session_form_path: signup_path, method: "post" } %>
<p><%= link_to "Have an account? Login", login_path, class: "btn red lighten-2" %></p>
</main>
</body>