<body class="epic">
<main>
<h1 class="center thin">Welcome to SymbioSound</h1>
<h4 class="blue-grey-text text-darken-2 center thin">A collaborative music network </h4>
<hr width="400px">
<h5 class="blue-grey-text text-darken-2 center thin">Today's featured projects: </h5>
<p class="blue-grey-text text-darken-2 center thin"><%= Project.featured_projects %> </b></p>
<h4 class="blue-grey-text text-darken-2 center thin">Please <%= link_to "Login", login_path %> or <%= link_to "Signup", signup_path %></h4>
<!--<img class="responsive-img" src="symbiosoundbg.jpeg">-->
<!--<h5 class="center thin"><%= link_to "Login With Facebook", "/auth/facebook" %></h5>-->
</main>
</body>
<br><br><br><br><br><br><br><br><br><br><br>
