
<h1 class="center">Welcome to SymbioSound</h1><br>
<h4 class="blue-grey-text text-darken-2 center"> A collaborative music network </h2><br>
<h4 class="blue-grey-text text-darken-2 center">Please <%= link_to "login", login_path %> or <%= link_to "signup", signup_path %></h4><br><br><br><br><br><br><br>
