<h1 class="center thin">List of Projects</h1>
<%= form_tag user_projects_path(current_user), method: "get" do %>
    <%= text_field_tag :query.downcase %>
    <%= submit_tag :search, class: "btn red lighten-2" %>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <%= render @projects %>
  </table>