@media screen and (min-width:800px){
 .epic {
    width: 100vw;
    height: 100vh;
    background-image:url("symbiosoundbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    }
  }



@media all and (max-width:800px) {
  .epic {
    background-image:url("mobilbg.png");
    background-size: cover;
    background-position: center center;
}

@media all and (max-width:800px){
  .rad{
    text{
      font-size: 150%
    }
  }
}

}



    .stickier {
      display: flex;
      min-height: 85vh;
      flex-direction: column;
    }
  
    .sticky {
      flex: 1 0 auto;
    }