 .epic {
    width: 100vw;
    height: 100vh;
    background-image:url("symbiosoundbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    }



@media screen and (max-width:800px) {
  body {
    background-size: cover;
    background-position: center center;
}

}



    .stickier {
      display: flex;
      min-height: 85vh;
      flex-direction: column;
    }
  
    .sticky {
      flex: 1 0 auto;
    }