<main>
<footer class="page-footer red lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text thin">SymbioSound</h5>
        <p class="grey-text text-lighten-4 thin"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text thin">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3 thin" href="https://www.instagram.com/">Instagram</a></li>
          <li><a class="grey-text text-lighten-3 thin" href="https://www.facebook.com/">Facebook</a></li>
          <li><a class="grey-text text-lighten-3 thin" href="https://www.twitter.com/">Twitter</a></li>
          <li><a class="grey-text text-lighten-3 thin" href="#!">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">A Top Shelf Sound affiliate</a>
    </div>
  </div>
</footer>
</main>